<!DOCTYPE html>
<html>
<head>
  <title>IS IT MARKET DAY TODAY OR WHAT?</title>
  <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
  <script src="//use.edgefonts.net/ewert.js"></script>
</head>
<body class="<%= isItMarketDay ? 'yes' : 'no' %>">
  <h1>YES!</h1>
</body>
</html>
