body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: #fff;
  height: 100%;
}

.message {
  vertical-align: middle;
  text-align: center;
}

h1 {
  font-size: 15em;
  font-family: ewert, sans-serif;
}

h3 {
  font-size: 2em;
}

.yes {
  background-color: #0e2;
}

.no {
  background-color: #e20;
}

.maybe {
  background-color: #ee9602;
}

